* {
  font-family: "Inter", "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 12px;
  font-weight: bold;
  border-radius: 10px;
  /* color: @on_background; 
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1); */
}