#custom-separator-beam {
    color: @primary;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
}